h1 {
  color: white;
  font-size: 30px;
  font-family: tahoma;
  text-transform: uppercase;
  text-align: center;
  animation-duration: 2s;
  animation-name: aparecer; }

h2 {
  color: white;
  text-align: center;
  padding-top: 10px;
  font-size: 25px; 
  animation-duration: 2s;
  animation-name: aparecer;}

h2, h3, h4, p, div, li, td {
  font-family: "Commissioner", sans-serif; }

div.menu li {
  float: left;
  padding: 10px;
  margin: 10px; }

a {
  text-decoration: none;
  color: white;
  font-family: tahoma;
  font-size: 15px; }

img {
  width: 200px; }

img.rounded-circle:hover {
  transform: scale(2, 2); }

li h3 {
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  font-size: 15px; 
  animation-duration: 2s;
  animation-name: aparecer;}

p {
  text-align: center;
  padding: 1% 10% 0% 10%; }

div.parrafo {
  width: 70%;
  margin: auto;
  padding-bottom: 2%; }

ul {
  padding: 0px; }
  ul li {
    list-style: none;
    text-align: center; }
    ul li h3 {
      font-weight: bold;
      margin-top: 20px;
      text-align: right;
      margin-left: 0px; }

    li.left {float: left;}

ul li h3.li3 {padding-top: 5%;}


ul li p { text-align: left;
          padding: 2% 0% 0% 0%; 
          margin: 0%;}

div.soft ul li { text-align: right; }

table {
  margin: auto; }

form {
  display: block;
  padding: 1% 1% 1% 40%; }

#myCarousel {margin: 1% 1% 1% 3%;
            
              }

.carousel-inner img {height: 50%; margin-left: 43%;}





