@import "colores" ;
@import "fuentes" ;


h1 {color: $myWhite;
	font-size: 30px;
	font-family: $myFuente1;
	text-transform: uppercase;
	text-align: center;
	animation-duration: 2s;
   animation-name: aparecer;
   }

h2{ color: $myWhite; text-align: center; padding-top: 10px; font-size: 20px; animation-duration: 2s;
  animation-name: aparecer;
	
   }



h2, h3, h4, p, div, li, td { font-family: $myFuente2; 
							}
h3, .tit
 { color: $myWhite; text-align: center; padding-top: 10px; font-size: 30px; animation-duration: 2s;
  animation-name: aparecer; font-weight:normal;
	
}






 div.menu li{ 
	float:left;
	padding: 10px;
	margin: 10px;
			}


a { text-decoration: none;
		color: white;
		font-family: $myFuente1;
		font-size: 15px;
	}

img {width:200px;
display:block; margin:auto;
	
			}


img:hover {
  transform: scale(1.5, 1.5); }


img.rounded-circle:hover {
    transform: scale(1, 1); }



li h3{
	font-weight:bold;
	margin-top:20px;
	text-align: center;
	font-size: 15px; animation-duration: 2s;
  animation-name: aparecer;}
	


p {text-align: center;
 	padding: 1% 10% 0% 10%; 
	}

div.parrafo{width: 70%; margin:auto; padding-bottom: 2%;}

ul {padding:0px;

	li { list-style: none;
	text-align: center;	

		h3{
		font-weight:bold;
		margin-top:20px;
	
		text-align: right;
      margin-left: 0px;
			}
 		}   
 	}

li.left {float: left;}

ul li h3.li3 {padding-top: 5%;}


ul li p { text-align: left;
          padding: 2% 0% 0% 0%; 
          margin: 0%;}

div.soft ul li { text-align: right; }


/*logos*/

.logos { 

	margin:13% 10%
	10% 10%;
}



/*proyectos*/

.juana{
		width: 300px;
		margin:1% 20% 10% 40%;
	
			}
.juanah {text-align: center;
margin-top:10%;
margin-right:50%;

}
.juanap {margin-right:50%;
font-size:16px;
padding:0px;

}


.rof {width: 600px;
	margin:1% 10% 10% 0%;
	}

.rofh {text-align: center;
margin-top:10%;
margin-left:20%;

}

.rofp {margin-left:30%;
margin-right:10%;
font-size:16px;
padding:0px;
}






